# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Installing Python & PIP
        run: |
          sudo apt install python3 -y
          pip3 install --upgrade pip
          python --version
          ls -a

      - name: Run a script
        run: |
          python3 *.py
          
